.messages {
  max-width: 800px;
  height: 60vh;
  border: 1px solid lightseagreen;
  overflow-y: scroll;
  overflow-x: hidden;
}
.window {
  padding: 10px;
  word-wrap: break-word;
}
.textMessage {
  padding: 5px;
  border-bottom: 1px solid hotpink;
}
.name {
  padding: 5px 10px 5px 0;
}
